<footer>
   <div class="container pl-0 pr-0">
      <div class="row col-12">
         <div class="col-3">
            <a class="navbar-brand" href="#">
               <img src="../../../../assets/images/logo.svg" alt="logo">
            </a>
         </div>
         <div class="col-3">
            <h4>Contact</h4>
            <ul>
               <li>
                  <p><a href="mailto:support@4undremit.com">support@4undremit.com</a></p>
               </li>
               <li>
                  <p>250 Young Street, Suite 2201, Toronto, ON M5B2L7, Canada</p>
               </li>
               <li>
                  <p>Toll Free: 855-922-0274</p>
                  <p>Phone #: 647-948-9752</p>
               </li>
            </ul>
         </div>
         <div class="col-3">
            <h4>Links</h4>
            <ul>
               <li>
                  <a href="">FAQs</a>
               </li>
               <li>
                  <a href="">Legal</a>
               </li>
               <li>
                  <a href="">Press</a>
               </li>
            </ul>
         </div>
         <div class="col-3">
            <p>As a Money Service Business, 4undremit is registered with FINTRAC (Financial Transactions and Reports
               Analysis Centre of Canada) - Registration Number M18144177. &copy; 4undremit 2019.</p>
         </div>
      </div>
   </div>
</footer>